/*
Theme Name: HibernationV3
Theme URI: http://demo.velcomeseo.com/themes/autopsie_demo
Author: Velcome Pack
Author URI: http://velcomeseo.fr/
Description: woot woot
Version: 3.0
License: R
License URI: R
Tags: awesome, great, wouldRecommend, willComeAgain, CSS, suchWow, JSsapu
Text Domain: yop
*/
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
*{
  font-family: 'Karla', sans-serif;
}
@font-face{
  font-family: 'Gotham Medium'; 
  src: url('/wp-content/themes/hibernationv3/fonts/GothamMedium.otf'); 
}
@font-face{
  font-family: 'Gotham Bold'; 
  src: url('/wp-content/themes/hibernationv3/fonts/GothamBold.otf'); 
}
@font-face{
  font-family: 'Gotham Light'; 
  src: url('/wp-content/themes/hibernationv3/fonts/GothamLight.otf'); 
}
body{
    color: white;
    
    margin: 0;
    padding: 0;
    background: #0b1a2c ;
}

.acc.contact{
  align-items: flex-start;
}
.pictos img{
  margin-bottom: 20px;
}
main, body, .map iframe{
  max-width: 100vw;
  overflow-x: hidden;
}

button.submit{
  background:none;
  border:transparent;
  color: white;
  font-size:16px;
  padding:10px 0;
}
button.submit:hover{
color:#6CC3C6;
cursor:pointer;

}

ul{
  padding-inline-start:0px;
}
img{

  max-width:100%;
}
main{
  min-height: 80vh;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  background: #0B1A2C url("/wp-content/themes/hibernationv3/FOND-GENERIQUE.jpg") no-repeat center top;
    background-size: contain;
}
.ligne, .colonne{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    flex-basis:80%;
}
.colonne{
    flex-direction: column;
    flex:1;
}
.tableau{
  flex: 0 0 40%;
}
.full{
  flex-basis:100%;
}

.demi{
  flex-basis:50%;
}

.case>*{
  flex:1 1;
}

.acc{
  justify-content: space-around;
    max-width:80%;
    flex-basis:80%;
    border-bottom:1px solid #6CC3C6;
    padding-bottom:40px;
}
header.fixed{
  width: 100%;
  padding-bottom: 4px;
}
.fixed{
  position: fixed;
  justify-content: space-between;
}
.lang-select ul{
  list-style-type: none;
  margin:15px 10px 11px 10px;
}
.lang-select ul li{
  display: inline-block;
  margin-right: 10px;
}
.invisible{
    display: none;
}
.endblock{
  justify-content: flex-end;
}
p{
  text-align:left;
  flex-basis:100%;
  padding-right: 20px;
}
h2, h3{
  font-family:'Gotham Light';
  color: #6CC3C6;
  flex-basis:100%;
}
h2{
  font-size:25px;
}
 

h1{
  letter-spacing: 15px;
  color:white;
  flex-basis:80%;
  text-align:center;
  font-family:'Gotham Bold';
  font-size:30px;
  text-transform:uppercase;

}
.faq{
  flex-basis:80%;

}

#faq p{
color:#F7F7F7;
}

#logo{
  height:100%;
}

img.univers{
    max-width: 100%;
    max-height: 100%;
    margin: 50px 0;
}
.vertical-d, .vertical-g{
    writing-mode: vertical-rl;
    letter-spacing: 20px;
    z-index: -1;
}
.vertical-g{
    transform: scale(-1, -1);
}
.sitefooter{
  min-height: 300px;
  justify-content: space-around
}
body > footer > div:nth-child(3) > div > div:nth-child(2){
  margin-top: 15px;
}

.partenaires{
  max-width: 80%;
    flex-wrap:nowrap;
}
.partenaires>div{
    flex: 0 1 80px;
    display: flex;
    align-items: center;
}


.ligne.logos{
  flex : 0 1 10%;
}
.rond-blanc{
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a, a.vert:hover, .btn, .btn:hover{
    text-decoration: none;
    color: white;
    transition:2s ease-in-out all;
}
a:hover{
  color:#c5d0e2;
}
.btn{
      display: block;
    border-radius:50px;
    padding: 15px 35px;
    background: #6CC3C6;
    color:black;
        transition:1s ease-in-out all;
        min-width:30%;
        text-align:center;
        margin:4px;

}
.btn:hover{
  background: #2D63BA;
}

.barre {
  text-decoration: line-through;
}

.vert{
    color: #6CC3C6;

    fill: #c5d0e2;
}
.logos, .selectJour{
  width: 190px;
  justify-content: space-around;
}
.selectJour{
  width: 100%;
  text-transform: uppercase;
  /* min-width: 650px; */
}
.displayArtist{
  justify-content: space-around;
  min-width: 90%;
}
.displayArtist h2 {
  color: white;
}
.displayArtist .label{
  text-align: center;
}
.selectJour .jour{
  cursor: pointer;
}

ul.ticklist{
  flex-direction:column;
  width:100%;
  list-style-type:none;
}
.ticklist{
  flex-basis: 100%;
  justify-content: space-between;
  display: flex;
}

li.ticklist{
  padding:10px 0px;
  align-items:center;
}
.dots{
  border-bottom: 1px dotted #6CC3C6;
  flex-grow: 2;
  margin: 5px 20px;
}

.xp a.btn{
  width:20%;
  margin:2% 10%;
  text-align:center;
}
.xp{
  justify-content: space-around;
  flex-wrap:wrap;
}

/**************** FORM *******************************/

form{
  display:flex;
  align-items:center;
}
input{
  margin: 5px;
  padding: 10px 5px;
  border: 1px solid #6cc3c6;
}
input[type="submit"]{
  background: #6cc3c6;
  
}
/* ************** MENU *******************************/
#menuToggle{
  display: block;
  position: relative;
  top: 5px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 3px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:nth-child(4){
  width: 17px;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #c5d0e2;
  width: 33px;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  z-index: 0;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul{
  transform: none;
}

body > main > div.ligne.acc.jhome{
  margin-top: 15vh;
}
#home > div:nth-child(1){
  margin-top: 15vh;
  height: 50vh;
}
#home{
   background: #0B1A2C url("/wp-content/themes/hibernationv3/FOND-HOMEPAGE-1920x1080.jpg") no-repeat center top;
   background-size:contain;
}


.artist{
    height:100%;
    width:25%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transition: 1s ease-in all;
  }

.artist:hover{
  cursor:pointer;
  transform: translate3d(0px, -20px, -10px);
}


.progress{
  text-align:center;
  font-size:20px;
  text-transform:bold;
  font-style:italic;
  font-family:'Gotham Medium'
}

.artist>p{
    text-transform: uppercase;
    max-width: 100%;
    font-family: 'Gotham Bold';
    font-size: 23px;
    position:relative;
    top:-60px;
}

.galerie{
  display:flex;
  flex-wrap:wrap;
  margin: 50px;
  justify-content:center;
  align-items:center;

}
.icones{
    align-items: center;
    display: flex;
    filter: invert(0.5);
    justify-content: space-around;
    padding-right: 0;
    width: 60%;
    
}

.icones a:hover {
    filter: drop-shadow(4px 4px 20px black);
}

.galerie img{
  max-width:25%;
  height:auto;
}

#fen{
  max-width: 80%;
  max-height: 80%;
}

div.fen{
    height: 100%;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.83);
    display:none;
    z-index:200;
}

.fen>a{
    top: 0;
    left: 80%;
    position: absolute;
    font-size: 50px;
    display: block;
    text-align: right;
    padding: 20px;
}
.fen>a:hover, .galerie>img:hover{
  cursor:pointer;
  filter:opacity(0.9);
}
p.fen{
  text-align:center;
  flex-basis:60%;
}

/*------------RESPONSIVE--------*/

@media (min-width: 1920px){
  main{
    background-size: cover;
  }
}
@media (max-width: 500px){
  .pictos{
    flex-basis: 50%;
  }
  .pictos img{
  margin-top: 20px;
  }
  .vertical-d, .vertical-g{
    display: none;
  }
}
@media (max-width: 555px){
    .oandb{
     min-height: 1750px !important;
  }
}


@media(max-width:900px)
{
  #home{
   background: #0B1A2C url("/wp-content/themes/hibernationv3/Mobile-Hiber2020.jpg") no-repeat center top;
   background-size:contain;
}
form#hibernation{
  flex-basis:100%;
}
  .carousel-cell{
        width: 100%;
  }
  .artist{
    flex-basis:100%;
  }
  .galerie img{
    max-width:100%;
  }
  img.univers{
    min-width:100%;
    max-width:unset;
  }
  img{
    width:100%;
  }
  ul.ticklist{
    width:100%;
  } 


  .ligne.logos, .colonne{
    flex:1 1;
  }
  .ligne.logos{
    flex-basis:50%;
  }
  .colonne{
    flex-basis:100%;
  }
  .case {
    justify-content: center;
    align-items: center;
}
.main-carousel img{
  max-width:100%;
}
.pictos.colonne{
  flex-basis:auto;
}
.pictos img{
  width:auto;
}
#logo{
  height:auto;
}

.partenaires{
  flex-wrap:wrap;
}
.partenaires>div{
  flex:0 1 50px;
}
}